<div class="card">
  <%= link_to image_tag(spot.image, class: :card__img), spot_path(spot.id), method: :get %>  
  <div class="card__body">
    <%= link_to spot.name, spot_path(spot.id), class: :card__title%>
    <p class="card__summary">
      <%= spot.add %>
    </p>
    <%= link_to "by #{spot.user.name}",user_path(spot.user, method: :get, class: :card__user) %>
  </div>
</div>