<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in? %>
      <div class="greeting"> 
        <div>こんにちは、
        <%= link_to "#{current_user.name}さん", "/users/#{current_user.id}", class: :greeting__link%>
        </div>
      </div> 
    <%end%>
    <%# // ログインしているときは上記を表示する %>
    
     <div id="map" style="width:100%; height:400px"></div>

    <script type="text/javascript">
    function initMap() {
      var opts = {
        zoom: 15,
        center: new google.maps.LatLng(35.1239654, 136.9417741)
      };
      var map = new google.maps.Map(document.getElementById("map"), opts);
    }
    </script>

    <script type="text/javascript" 
      src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['API_KEY']%>&callback=initMap&libraries=&v=weekly"
      async
    ></script>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
       <%= render partial: "spot", collection: @spots %>
    </div>
  </div>
</main>
