<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規バスキングスポット投稿</h2>
      <%= render partial: "form", locals: { spot: @spot } %>

        <%# 部分テンプレートでフォームを表示する %>
    </div>
  </div>
</div>